In [2]:
# Load dataset from CSV file
import pandas as pd

# Define the path to the dataset
file_path = 'big_tech_stock_prices.csv'

# Load the dataset into a pandas DataFrame
big_tech_stocks = pd.read_csv(file_path)

# Display the first few rows of the dataset
print("Dataset preview:")
display(big_tech_stocks.head())

# Display basic information about the dataset
print("\nDataset info:")
display(big_tech_stocks.info())

Dataset preview:

,stock_symbol,date,open,high,low,close,adj_close,volume
0,AAPL,2010-01-04,7.622500,7.660714,7.585000,7.643214,6.515213,493729600
1,AAPL,2010-01-05,7.664286,7.699643,7.616071,7.656429,6.526476,601904800
2,AAPL,2010-01-06,7.656429,7.686786,7.526786,7.534643,6.422664,552160000
3,AAPL,2010-01-07,7.562500,7.571429,7.466071,7.520714,6.410790,477131200
4,AAPL,2010-01-08,7.510714,7.571429,7.466429,7.570714,6.453412,447610800

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45088 entries, 0 to 45087
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   stock_symbol  45088 non-null  object
 1   date          45088 non-null  object
 2   open          45088 non-null  float64
 3   high          45088 non-null  float64
 4   low           45088 non-null  float64
 5   close         45088 non-null  float64
 6   adj_close     45088 non-null  float64
 7   volume        45088 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 2.8+ MB

None